/* ------------------------------------CSS RESET --------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Gentium Plus', serif;
    /* font-style: oblique; */
    scroll-behavior: smooth;
}

/*---------------------------------------------- NAVIGATION BAR ----------------------------------------*/
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    height: 90px;
}

#navbar::before{
    content: "";
    background-color: #fff703;
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
    opacity: .2;
}
/*-------------------------------------- NAVIGATION BAR : LOGO AND IMAGE--------------------------------- */
#logo{
    margin: 0px 15px;
}
#logo img{
    margin: 1.5px 6px;
    height: 90px;
    width: 122px;
}

/*------------------------------------------ NAVIGATION BAR : LIST ITEM --------------------------------------*/
#navbar ul{
    display: flex;
}
#navbar ul li{
    list-style: none; 
    font-size: 2rem;
}
#navbar ul li a{
    color: #ff9812;
    display: block;
    padding: 4px 25px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
}
#navbar ul li a:hover{
    color: black;
    /* background-color: orange; */
    font-weight: normal;
}

/* ---------------------------------------------------------HOME SECTION-------------------------------------------- */
#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 550px;
    padding: 0px 250px;
    position: relative;
    /* top: 0px;
    left: 0px; */
}

#home::before{
    background: url('/image/img/brick-wall-restaurant.jpg') no-repeat center center/cover;
    content: "";
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
    opacity: .7;
    /* top: 0px;
    left: 0px; */
}

#home h1{
    color:#ff9812;
    /* color: white; */
    text-align: center;
    font-weight: bold;
}
#home p{
    color: black;
    text-align: center;
    font-size: 1.5rem;
    margin: 0px 14px;
    padding: 18px
}

/* -----------------------------------------------------Utility Classes------------------------------------------ */
.h1prime{
    font-size: 3.5rem;
    padding: 15px;
    border: 2px solid rgb(255, 152, 18);
    background-color: rgb(253 247 189 / 88%);
}
.service-1{
    text-align: center;
    font-size: 3.5rem;
    padding: 11px 15px 0px;
    margin: 0px 18px;
}
.service-2{
    text-align: center;
    font-size: 2.5rem;
    padding: 15px;
}
.btn{
    padding: 7px 44px;
    margin: 22px;
    border: 2px solid black;
    background-color: rgb(253 247 189 / 88%);
    font-size: 1.5rem;
    border-radius: 26px;
    cursor: pointer;
}
.btn:hover{
    background-color: black;
    color: aliceblue;
}
.center{
    text-align: center;
}

/* ---------------------------------------------------------Services Section --------------------------------*/
#services{
    margin: 34px;
    display: flex;
}

#services .box{
    border: 3px solid #0043ff;
    border-radius: 23px;
    margin: 2px 25px;
    padding: 21px 22px;
    background-color: #e8e1fd;
}
#services .box img{
    height: 200px;
    margin: auto;
    display: block;
}

/* -----------------------------------------------CLIENT SECTION ------------------------------ */

#client-section h1{
    color: whitesmoke;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

#client-section{
    height: 329px;
    position: relative;
    margin: 0px 0px 11px;
}

#client-section::before{
    content: "";
    position: absolute;
    background: url('/image/img/bg1.jpg')no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .7;
}

#clients img{
    height: 90px;
    margin: 15px 39px;
}

.client-item-2{
    height: 122px;
    width: 175px;
}
/* --------------------------------------------FOOTER---------------------------------------------- */
footer{
    background-color: black;
    color: white;
    padding: 3px 24px;
    margin: 3px 2px;
}

/* --------------------------------------------CONTACT SECTION---------------------------------- */
#contact{
    position: relative;
    height: 410px;
}

#contact::before{
    content: "";
    position: absolute;
    background: url('/image/img/contact.jpg') no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .4;
}
input{
    text-align: center;
    margin: 5px 5px;
    padding: 5px 5px;
    border-radius: 5px;
    width: 100%;
}
#contact-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contact-box div{
    font-size: 1.25rem;
}
#contact h1{
    text-align: center;
    font-size: 3rem;
}

#contact button{
    margin: 10px 135px 10px 0.7rem;
    padding: 3px 53px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
}
#contact-box form{
    width: 35%;
}